.header{
    border-style: dotted;
    position: relative;
    bottom:38px
}
@media screen and (max-width: 200px) {
    .header{  width:7cm; }
    .header{height:48rem;}
}
.video{
    position: relative;
    z-index: 2;
    right:0cm;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 200px) {
    .video {  width:7cm; }
    .video{height:20cm;}
}
.video video{
    position: relative;
    padding-top: 2px;
}
.About{
    border-style: dotted;
    text-align: left;
    padding-left: 2rem;
    margin-left: 15rem;
    bottom:-.5cm;
    position: relative;
    right:3.1cm;
    background-color: blue;
}
.About :hover{
    background-color: red;
  }

.About h1{
    padding-top:1.5rem;
    position: inherit;
}
.About p{
    font-size: 20px;
    padding-top: 1.5rem;
}
@media screen and (max-width: 200px) {
    .About { width:50cm; }
    .About{margin-left: 216px;}
    .About{height:15cm;}
}
.About :hover{
    transition: all 200ms ease-in-out;
    transform: scale(1.05);
}
.Dean{
    border-style: dotted;
    position: relative;
    top:30px;
    height:15cm;
    padding-left: 20px;
   
}
.Dean img{
    position:absolute;
    bottom:100px;
    right:14.5cm;
    animation: fadeIn 3s;
}
.DTDean{
    border-style: dashed;
    width:30%;
    padding-top: 20px;
    animation: fadeIn 3s;
    border: 1px solid black;
  padding: 10px;
  position: absolute;
  bottom: 150px;
  right:100px
}

.DTDean p{
    padding-top: 20px;
}
@media (max-width: 768px) {
    .DTDean {
      left: 5cm;
    }
  }
.deanintro{
    border-style: dotted;
    width:20rem;
    height:5.5cm;
    padding-top: 20px;
    animation: fadeIn 3s;
    position: absolute;
    bottom:0px;
    left:50px
}
@keyframes fadeIn {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
.footer{
    border-style: dotted;
    position: relative;
    top:50px;
    height:10cm;
    background-color: #434343;
}
@media screen and (max-width: 200px) {
    .footer{  width:7cm; }
    .footer{height:48rem;}
}
.lines{
    border-style: dotted;
    position: fixed;
    top: 1.5cm;
    width:3cm;
    transition: background-color 0.3s ease;
   left:35.8cm;
}
.ha{
    border: 2px solid red;
    color: red;
   margin-left: 97%;
   position: relative;
   right: 1cm;
   z-index: 2;
   cursor:pointer;
   transition-delay: all .5s ease-in;
}
.ha.active{
    background-color: #8b1323;
    color: #43138b;
    width:4cm;
  }
.ha.active2{
    background-color: aqua;
    color: #0c7876;
    width:4cm;
}
.ha.active3{
    background-color: rgb(163, 16, 193);
    color: #78440c;
    width:4cm;
}