.header{
    border-style: dotted;
    position: relative;
    height:30rem;
}
.sliderimg{
    width: 100%;
    height: 500px;
    object-fit: cover;
    }
.About{
    border-style: dotted;
    text-align: left;
    padding-left: 2rem;
    width:30cm;
    margin-left: 15rem;
    top:20px;
    position: relative;
    height:15cm;
    right:1cm;
    background-color: red;
  animation-name: example; 
  animation-duration: 4s;   
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  .About :hover{
    animation-name: exampl; 
  }
  @keyframes example {
    from {background-color: pink;}
    to {background-color: blue;}
  }

.About h1{
    padding-top:1.5rem;
    position: inherit;
}
.About p{
    font-size: 20px;
    padding-top: 1.5rem;
}
/* .About :hover{
    z-index: 100;
    transition: all 200ms ease-in;
    transform: scale(1.5);
} */
.Dean{
    border-style: dotted;
    /* display: flex; 
    align-items: right; */
    position: relative;
    top:30px;
    height:15cm
}
.DTDean{
    border-style: dashed;
    width:30%;
    padding-top: 20px;
    position:relative;
    left:23cm;
    bottom:10cm;
    height:10cm;
    animation: mymove 5s infinite;
}
.DTDean p{
    padding-top: 20px;
}
.Dean img{
    position: relative;
    bottom:10px;
    right:9cm;
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.events{
    border-style: dotted;
    height:15cm;
    width:25cm;
    margin-left: 15rem;
    position: relative;
   top:30px;
   text-align: left;
   padding-left: 2rem;
   animation: mymove 5s infinite;
   animation-timing-function: ease-in;
}
.footer{
    border-style: dotted;
    position: relative;
    top:50px;
    height:10cm;
    background-color: #434343;
}
.icon{
   border-style: dashed;
   position: relative;
   top:70px;
   display: flex;
   gap: 3rem;
   padding-left: 15cm;
}
.icon a{
    text-decoration: none;
    color:black;
}
.video{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:16cm;
   
}
.video video{
    position: relative;
    padding-top: 2rem;
}
.section-line-wrap .section-line {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 9px 0 9px 0;
    margin-left: auto;
    cursor: pointer;
    position: relative;
}

.sectionLine{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 9px 0 9px 0;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    color:black
}
/* .sectionLine a {
    color: aqua;
    transition: all .3s ease;
}
.sectionLine a {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    text-decoration: none;
} */
.line:active{
    width: 40px;
    opacity: 1;
    background: red;
}
.name {
    position: absolute;
    right: 50px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    color: green;
    white-space: nowrap;
    margin-right: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.line {
    width: 25px;
    height: 3px;
    border-radius: 4px;
    background-color: aqua;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    display: inline-block;
    color: aqua;
}

.linewrap a{
    background-color: black;
    width:3%;
    color: aqua;
   
    
}
.linewrap a:active{
    background-color: black;
    color: red;
    width:30px
}
.section-line-wrap .section-line:hover .line {
    width: 40px;
    background: var(--dblue);
}