.content {
    margin: 2rem auto;
    text-align: center;
  }
.Footer{
    border-style: dashed;
    position: relative;
    top:40px;
    display: flex;
    gap: 3rem;
    height:30rem;
    padding-left: 30px;

       }
.Footer  a{
        text-decoration: none;
        color:black;
        }
.Logo{
    
    border-style: dotted;
    height: 60%;
    width:20%;
}  
.CU{
    border-style: dashed;
    height:70%;
    width:30%
}      